
<!doctype html>
<html ng-app="app" lang="en">
<head>
	<meta charset="utf-8">
    
	<!-- Angular includes //-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-messages.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-sanitize.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">

	<!-- Chart includes //-->
	<script src="./includes/Chart.min.js"></script>
	<script src="./includes/angular-chart.min.js"></script>
	<link rel="stylesheet" href="./includes/Chart.min.css">
	
	<!-- Application and miscellaneous includes //-->
	<script src="./includes/palette.js"></script>
	<script src="./includes/app.js"></script>
	<link rel="stylesheet" href="./includes/core.css">

	<title>Electrochemical simulator</title>
</head>
<body class="md-body-1" class="md-primary" ng-controller="ECSimCtrl">

    <canvas id="wasmcanvas" oncontextmenu="event.preventDefault()" style="height: 1px; width: 1px;"></canvas>

	<md-toolbar layout="row" layout-align="space-between center" layout-padding>
		<span class="md-headline">Simulation of voltammetric electrochemistry</span>
		<span class="md-body-1"><i>This is a development version!<br />Stuff might (will!) go wrong...</i></span>
	</md-toolbar>

    <form name="simform">
	<div layout="row" layout-padding layout-margin layout-align="start stretch">
    
		<div ng-cloak flex="noshrink">
			<md-content>
				<md-tabs md-stretch-tabs="never" md-selected="selected_tab" md-dynamic-height md-border-bottom>

                    <md-tab>
                        <md-tab-label><md-icon>info</md-icon></md-tab-label>
                        <md-tab-body>
                            <md-content layout="column" class="md-padding">
                                <h3 class="md-headline">Welcome!</h3>
                                <p>
                                    On this webpage you can simulate electrochemical voltammetric experiments using state-of-the-art methodology (as of 2020). This is a proper numerical simulation that aims to compete with commercial software such as DigiElch.
                                </p>
                                <p>
                                    At its core, this simulator is an extension of the code provided with the excellent article <b>Brute force (or not so brute) digital simulation in electrochemistry revisited</b> by Molina.</i><sup>1</sup> Implementations from the books by Compton<sup>2</sup> and Britz<sup>3</sup> turned the core algorithm into practically useful software. An important note to make here, is that the information in these books was only used to transform the system of redox steps and chemical reactions into matrix form. The resulting matrices where then solved the lazy way: by matrix inversion with the sparse solver algorithms in the <a href="http://eigen.tuxfamily.org" target="_blank">Eigen library</a>.
                                </p>
                                <p>
                                    The simulator can handle any (reasonable) amount of species, redox steps and chemical reactions. Redox steps use <a href="https://en.wikipedia.org/wiki/Butler%E2%80%93Volmer_equation" target="_blank">Butler-Volmer kinetics</a>. The system is pre-equilibrated before the simulation starts (using the starting concentrations and chemical reactions). Various electrode geometries are supported, and most simulation settings can be changed if necessary (for advanced users only!).
                                </p>
                                <p>
                                    The simulator cannot (yet) handle:
                                    <ul>
                                        <li>Surface-adsorbed species</li>
                                        <li>Very high values of K<sub>comp</sub> (cf. Compton section 6.2)</li>
                                        <li>Uncompensated solution resistance</li>
                                        <li>Migration and convection</li>
                                    </ul>
                                </p>
                                <md-button ng-click="UserMessage('info', 'info.software.html')" class="md-primary">
                                    <md-icon>info_outline</md-icon>
                                    Software description
                                </md-button>
                                <p>
                                    References:
                                    <ol>
                                        <li>A. Molina <i>et al.</i> Chem. Phys. Lett. 2016 (<b>643</b>), 71&mdash;76 (<a href="http://dx.doi.org/10.1016/j.cplett.2015.11.011" target="_blank">10.1016/j.cplett.2015.11.011</a>)</li>
                                        <li>R. Compton <i>et al.</i> <b>Understanding Voltammetry: Simulation of Electrode Processes</b>, Imperial College Press, London, 2014</li>
                                        <li>D. Britz <i>et al.</i> <b>Digital Simulation in Electrochemistry</b>, 4th ed., Springer, Switzerland, 2016</li>
                                    </ol>
                                </p>
                            </md-content>
                        </md-tab-body>
					</md-tab>
					
					<md-tab>
                        <md-tab-label><md-icon>person</md-icon></md-tab-label>
                        <md-tab-body>
                            <md-content layout="column" class="md-padding">
                                <h3 class="md-headline">About me</h3>
                                <p>
                                    Ren&eacute; Becker, Ph.D. in chemistry (<a href="https://hdl.handle.net/11245/1.540389" target="_blank">thesis</a>), believes in open-source tools for all aspects in life, and thus also for science. Although physicists and mathematicians generally embrace open-source tools (because they program themselves?), chemists are generally wary of these tools (unless they are widely adopted). It is time for chemists to open their minds and be a bit more adventurous ;)
                                </p>
                                <p>
                                    Visit my <a href="https://www.researchgate.net/profile/Rene_Becker3" target="_blank">ResearchGate</a> or <a href="https://www.linkedin.com/in/renebeckerengineer/" target="_blank">LinkedIn</a> for more information about me.
                                </p>
                            </md-content>
                        </md-tab-body>
					</md-tab>
					
					<md-tab>
                        <md-tab-label>chemistry</md-tab-label>
                        <md-tab-body>
                            <md-content layout="column" class="md-padding"">
                                <h4>
                                    <md-button ng-click="AddSpecies()" class="md-icon-button" aria-label="Add species"><md-icon>add_circle</md-icon></md-button>                                 Species
                                </h4>
                                <div layout="row" ng-repeat="s in simsys.species">
                                    <md-button ng-click="RemoveSpecies(s.id)" ng-disabled="speciesIsInUse(s.id)" class="md-icon-button" aria-label="Remove species">
                                        <md-tooltip md-direction="right" ng-hide="speciesIsInUse(s.id)">Remove species from system</md-tooltip>
                                        <md-tooltip md-direction="right" ng-show="speciesIsInUse(s.id)">Cannot remove species, because it is in use.</md-tooltip>
                                        <md-icon>remove_circle</md-icon>
                                    </md-button>
                                    <md-input-container>
                                        <label>Name</label>
                                        <input type="text" ng-model="s.name" required ng-minlength="1" ng-maxlength="10" maxlength="10">
                                    </md-input-container>
                                    <md-input-container>
                                        <label>D [m<sup>2</sup>/s]</label>
                                        <input type="number" ng-model="s.diff" required min="1.0e-18" max="1.0e3">
                                    </md-input-container>
                                    <md-input-container>
                                        <label>C<sub>0</sub> [mol/m<sup>3</sup>]</label>
                                        <input type="number" ng-model="s.conc" required min="0.0" max="1.0e6">
                                    </md-input-container>
                                </div>
                                <h4>
                                    <md-button ng-click="AddRedox()" class="md-icon-button" aria-label="Add redox"><md-icon>add_circle</md-icon></md-button>                                 Redox steps: Ox + n<sub>e</sub> e<sup>&minus;</sup> &harr; Red
                                </h4>
                                <div layout="row" layout-align="space-between center" ng-repeat="r in simsys.redox">
                                    <md-button ng-click="RemoveRedox($index)" class="md-icon-button" aria-label="Remove redox" flex="5"><md-icon>remove_circle</md-icon></md-button>
                                    <md-input-container flex="15">
                                        <label>Ox</label>
                                        <md-select ng-model="r.ox" placeholder="(...)" ng-disabled="!r.enabled">
                                            <md-option ng-value="s.id" ng-repeat="s in simsys.species">{{ s.name }}</md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container flex="15">
                                        <label>Red</label>
                                        <md-select ng-model="r.red" placeholder="(...)" ng-disabled="!r.enabled">
                                            <md-option ng-value="s.id" ng-repeat="s in simsys.species">{{ s.name }}</md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container flex="15">
                                        <label>n<sub>e</sub></label>
                                        <input type="number" ng-model="r.ne" required min="1" step="1" ng-disabled="!r.enabled">
                                    </md-input-container>
                                    <md-input-container flex="15">
                                        <label>E<sup>0</sup> [V]</label>
                                        <input type="number" ng-model="r.pot" required min="-10.0" max="10.0" ng-disabled="!r.enabled">
                                    </md-input-container>
                                    <md-input-container flex="15">
                                        <label>k<sub>e</sub> [m/s]</label>
                                        <input type="number" ng-model="r.ke" required min="1.0e-12" max="1.0e6" ng-disabled="!r.enabled">
                                    </md-input-container>
                                    <md-input-container flex="15">
                                        <label>alpha</label>
                                        <input type="number" ng-model="r.alpha" required min="0.0" max="1.0" ng-disabled="!r.enabled">
                                    </md-input-container>
                                    <md-switch ng-model="r.enabled" aria-label="Redox enabled or disabled" ng-true-value="1" ng-false-value="0" flex="5"></md-switch>
                                </div>
                                <h4>
                                    <md-button ng-click="AddReaction()" class="md-icon-button" aria-label="Add reaction"><md-icon>add_circle</md-icon></md-button>                                 Chemical reactions: R1 (+ R2) &harr; P1 (+ P2)
                                </h4>
                                <div layout="row" ng-repeat="c in simsys.rxn" layout-align="space-between center">
                                    <md-button ng-click="RemoveReaction($index)" class="md-icon-button" aria-label="Remove reaction" flex="5"><md-icon>remove_circle</md-icon></md-button>
                                    <md-input-container flex="15">
                                        <label>R1</label>
                                        <md-select ng-model="c.reactant1" ng-disabled="!c.enabled">
                                            <md-option ng-value="s.id" ng-repeat="s in simsys.species">{{ s.name }}</md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container flex="15">
                                        <label>R2</label>
                                        <md-select ng-model="c.reactant2" ng-disabled="!c.enabled">
                                            <md-option ng-value="0">(none)</md-option>
                                            <md-option ng-value="s.id" ng-repeat="s in simsys.species">{{ s.name }}</md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container flex="15">
                                        <label>P1</label>
                                        <md-select ng-model="c.product1" ng-disabled="!c.enabled">
                                            <md-option ng-value="s.id" ng-repeat="s in simsys.species">{{ s.name }}</md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container flex="15">
                                        <label>P2</label>
                                        <md-select ng-model="c.product2" ng-disabled="!c.enabled">
                                            <md-option ng-value="0">(none)</md-option>
                                            <md-option ng-value="s.id" ng-repeat="s in simsys.species">{{ s.name }}</md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container flex="15">
                                        <label>k<sub>f</sub> [<span ng-if="c.reactant2">M<sup>&minus;1</sup></span>s<sup>&minus;1</sup>]</label>
                                        <input type="number" ng-model="c.kf" required min="0.0" max="1.0e12" ng-disabled="!c.enabled">
                                    </md-input-container>
                                    <md-input-container flex="15">
                                        <label>k<sub>b</sub> [<span ng-if="c.product2">M<sup>&minus;1</sup></span>s<sup>&minus;1</sup>]</label>
                                        <input type="number" ng-model="c.kb" required min="0.0" max="1.0e12" ng-disabled="!c.enabled">
                                    </md-input-container>
                                    <md-switch  ng-model="c.enabled" aria-label="Reaction enabled or disabled" ng-true-value="1" ng-false-value="0" flex="5"></md-switch>
                                </div>
                                <p>
                                    Note: when applicable (e.g. EE or ECE mechanism with the second electron transfer easier than the first), you have to add disproportionation/comproportionation equilibria yourself.
                                </p>
                            </md-content>
                        </md-tab-body>
					</md-tab>
					
                    <md-tab>
                        <md-tab-label>electrode</md-tab-label>
                        <md-tab-body>
                            <md-content layout="column" class="md-padding">
                                <h4>Electrode</h4>
                                <div layout="row">
                                    <md-input-container>
                                        <label>Type</label>
                                        <md-select ng-model="simsys.electrode.type"><md-option ng-value="et.type" ng-repeat="et in simsys.electrodetypes">{{ et.typename }}</md-option></md-select>
                                    </md-input-container>
                                    <md-input-container>
                                        <label>{{ simsys.electrodetypes[simsys.electrode.type].geom1name }} [m]</label>
                                        <input type="number" ng-model="simsys.electrode.geom1" required min="1.0e-10">
                                    </md-input-container>
                                    <md-input-container ng-if="simsys.electrodetypes[simsys.electrode.type].geom2name != ''">
                                        <label>{{ simsys.electrodetypes[simsys.electrode.type].geom2name }} [m]</label>
                                        <input type="number" ng-model="simsys.electrode.geom2" ng-required="simsys.electrodetypes[simsys.electrode.type].geom2name != ''" min="1.0e-10">
                                    </md-input-container>
                                </div>
                                <h4>Environment</h4>
                                <div layout="row">
                                    <md-input-container><label>Temperature [K]</label><input type="number" ng-model="simsys.temp" required min="0.0"></md-input-container>
                                </div>
                            </md-content>  
                        </md-tab-body>
					</md-tab>
					
                    <md-tab>
                        <md-tab-label>experiment</md-tab-label>
                        <md-tab-body>
                            <md-content layout="column" class="md-padding">
                                <h4>Currently, only CV is implemented (other techniques will follow (soon?))</h4>
                                <ul>
                                    <li>Conditioning for {{experiment.conditioningPotential}} s (t<sub>cond.</sub>) at {{experiment.conditioningTime}} V (E<sub>cond.</sub>)</li>
                                    <li>Equilibration for {{experiment.equilibrationTime}} s (t<sub>equil.</sub>) at {{experiment.initialPotential}} V (E<sub>initial</sub>)</li>
                                    <li>Sequence/scanning, repeated {{experiment.numCycles}} times (#cycles) at a scan rate of {{experiment.scanRate}} V/s (&nu;):
                                        <ul>
                                            <li>from {{experiment.initialPotential}} V (E<sub>initial</sub>)</li>
                                            <li ng-repeat="v in experiment.vertexPotentials">to {{v.pot}} (E<sub>vertex,{{$index}}</sub>) then a delay of {{experiment.vertexDelay}} s (t<sub>vertex</sub>)</li>
                                            <li>to {{experiment.finalPotential}} V (E<sub>final</sub>)</li>
                                        </ul>
                                    </li>
                                </ul>
                                <div layout="row">
                                    <md-input-container>
                                        <label>E<sub>cond.</sub> [V]</label>
                                        <input type="number" ng-model="experiment.conditioningPotential" required min="-10.0" max="10.0">
                                    </md-input-container>
                                    <md-input-container>
                                        <label>t<sub>cond.</sub> [s]</label>
                                        <input type="number" ng-model="experiment.conditioningTime" required min="0.0">
                                    </md-input-container>
                                    <md-input-container>
                                        <label>t<sub>equil.</sub> [s]</label>
                                        <input type="number" ng-model="experiment.equilibrationTime" required min="0.0">
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <md-input-container>
                                        <label>E<sub>initial</sub> [V]</label>
                                        <input type="number" ng-model="experiment.initialPotential" required min="-10.0" max="10.0">
                                    </md-input-container>
                                    <md-input-container>
                                        <label>E<sub>final</sub> [V]</label>
                                        <input type="number" ng-model="experiment.finalPotential" required min="-10.0" max="10.0">
                                    </md-input-container>
                                    <md-input-container>
                                        <label>t<sub>vertex</sub> [s]</label>
                                        <input type="number" ng-model="experiment.vertexDelay" required min="0.0">
                                    </md-input-container>
                                </div>
                                
                                <div layout="row">
                                    <md-button ng-click="AddVertex()" class="md-icon-button" aria-label="Add vertex"><md-icon>add_circle</md-icon></md-button>                                 
                                    <div layout="row" ng-repeat="v in experiment.vertexPotentials">
                                        <md-button ng-click="RemoveVertex($index)" class="md-icon-button" aria-label="Remove vertex"><md-icon>remove_circle</md-icon></md-button>
                                        <md-input-container>
                                            <label>E<sub>vertex,{{$index}}</sub> [V]</label>
                                            <input type="number" ng-model="v.pot" required min="-10.0" max="10.0">
                                        </md-input-container>
                                    </div>
                                </div>
                                <div layout="row">
                                    <md-input-container><label>#cycles</label><input type="number" ng-model="experiment.numCycles" required min="1" step="1"></md-input-container>
                                    <md-input-container><label>&nu; [V/s]</label><input type="number" ng-model="experiment.scanRate" required min="1.0e-6"></md-input-container>
                                </div>
                            </md-content>
                        </md-tab-body>
					</md-tab>
					
                    <md-tab>
                        <md-tab-label><md-icon>settings</md-icon></md-tab-label>
                        <md-tab-body>
                            <md-content layout="column" class="md-padding">
                                <h4>Simulation settings</h4>
                                <p>Number of coefficients for derivative and current simulation:</p>
                                <div layout="row">
                                    <md-input-container>
                                        <label>N<sub>derivative</sub></label>
                                        <input type="number" ng-model="simsettings.Nderivative" required min="3" max="8" step="1">
                                    </md-input-container>
                                    <md-input-container>
                                        <label>N<sub>current</sub></label>
                                        <input type="number" ng-model="simsettings.Ncurrent" required min="1" step="1">
                                    </md-input-container>
                                </div>
                                <p>Dimensionless potential step &Delta;&theta; and grid expansion factor &gamma;<sub>e</sub>:</p>
                                <div layout="row">
                                    <md-input-container>
                                        <label>&Delta;&theta;</label>
                                        <input type="number" ng-model="simsettings.deltatheta" required min="1.0e-6">
                                    </md-input-container>
                                    <md-input-container>
                                        <label>&gamma;<sub>e</sub></label>
                                        <input type="number" ng-model="simsettings.gammae" required min="1.01">
                                    </md-input-container>
                                </div>
                                <p>First dimensionless distance in grid X<sub>0</sub> = 10<sup>&minus;F</sup> / &radic;&sigma; where &sigma; is the dimensionless scan rate. F changes with log<sub>10</sub>(max. homogeneous rate [1/s]) = lograte, as:</p>
                                <div layout="row">
                                    <span>F = </span>
                                    <md-input-container>
                                        <label>F<sub>0</sub></label>
                                        <input type="number" ng-model="simsettings.F0" required>
                                    </md-input-container>
                                    <span>when lograte &lt;</span>
                                    <md-input-container>
                                        <label>lograte<sub>0</sub></label>
                                        <input type="number" ng-model="simsettings.lograte0" required>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <span>F = </span>
                                    <md-input-container>
                                        <label>F<sub>1</sub></label>
                                        <input type="number" ng-model="simsettings.F1" required>
                                    </md-input-container>
                                    <span>when lograte &gt;</span>
                                    <md-input-container>
                                        <label>lograte<sub>1</sub></label>
                                        <input type="number" ng-model="simsettings.lograte1" required>
                                    </md-input-container>
                                </div>
                                <p>...and is varied linearly between these values of lograte. The relationship is thus as depicted in the following image, where it can be observed that the dimensionless distance next to the electrode is smaller when the reaction rate is increased:</p>
                                <img src="./images/Flograte.png" style="width: 50%; height: auto;">
                            </md-content>
                        </md-tab-body>
					</md-tab>

				</md-tabs>
			</md-content>
		</div>

		<div ng-cloak flex="grow" layout="column" layout-fill class="md-padding" layout-align="start stretch">

			<md-button ng-click="RunSimulation()" class="md-raised md-accent" ng-disabled="simform.$invalid">
                <span ng-if="simform.$valid">Run simulation</span>
                <span ng-if="simform.$invalid">Cannot run simulation because there are errors in the input fields</span>
            </md-button>
            
			<md-card id="simresults">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Results</span>
						<span class="md-subhead">
                            Click <a href="" ng-click="CopyDataToClipboard()">here</a> to copy the simulation data so you can paste it into e.g. Microsoft Excel or LibreOffice Calc.<br />
                            Or <input placeholder="paste here" ng-model="expinputclipboard" ng-paste="DataPasted($event)" style="width: 70px"> your (e.g. experimental) data from Microsoft Excel or LibreOffice Calc<br />
                            You can also right-click the graph to save the figure as a PNG file.
                        </span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content>
				    <canvas style="width: 100%; height: 400px;" class="chart chart-line" chart-data="chartsim.data" chart-series="chartsim.series" chart-options="chartsim.options" chart-colors="chartsim.colors" chart-dataset-override="chartsim.datasetOverride"></canvas>
				</md-card-content>
			</md-card>
			
            <md-card>
				<md-card-content>
				    <pre>{{ simoutput }}</pre>
				</md-card-content>
			</md-card>

		</div>

	</div>
    </form>
    <script src="./includes/wasmapp.js"></script>
    <script async src="./includes/libwasmecsim.js"></script>
</body>
</html>
